<div class="container-fluid">
    <form #photoForm="ngForm" class="mb-1" (ngSubmit)="getPhotosForApproval()" autocomplete="off">
        <div class="row">
            <!-- SIDE BAR -->
            <nav class="col-xl-2 col-lg-2 col-md-3 bg-light sidebar" >
                <div class="sidebar-sticky">
                    <h5 class="mt-3">Filters</h5>
                    <hr>
                    <!-- RESET FILTERS BUTTON -->
                    <div class="my-2">
                        <div class="form-row text-center">
                            <div class="col">
                                <a (click)="resetFilters()" class="btn btn-danger text-white" type="button">Reset Filters</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <label class="mb-0">Search Username: </label>
                                <input type="text" class="form-control form-control-sm" name="usernameSearch" [(ngModel)]="photoManageParams.usernameSearch" maxlength="30">
                            </li>
                            <li class="nav-item mt-1">
                                <label class="mb-0">State: </label>
                                <select [(ngModel)]="photoManageParams.state" name="state" class="form-control form-control-sm" (change)="changeState($event.target.value)">
                                    <option value="" >Select a state...</option>
                                    <option *ngFor="let state of states | keyvalue" [value]="state.key" >
                                        {{state.key}}
                                    </option>
                                </select>
                            </li>
                            <li class="nav-item mt-1 mb-1">
                                <div *ngIf="selectedState !== ''">
                                    <label class="mb-0">City: </label>
                                    <select [(ngModel)]="photoManageParams.city" name="city" class="form-control form-control-sm">
                                        <option value="" >Select a city...</option>
                                        <option *ngFor="let city of cities" [value]="city" >
                                            {{city}}
                                        </option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    <hr>
                    <!-- APPLY FILTERS BUTTON -->
                    <div class="form-row text-center my-3">
                        <div class="col">
                            <button [disabled]="!photoForm.dirty" class="btn btn-primary" type="submit">Apply Filters</button>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- MAIN CONTENT TO THE RIGHT OF SIDEBAR -->
            <main *ngIf="!loading" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <div>
                        <h3>Photos for approval</h3>
                        <span *ngIf="pagination?.totalItems > 0 && pagination?.totalItems != 1">
                            <h6>Returned {{pagination?.totalItems}} photos for approval.</h6>
                        </span>
                        <span *ngIf="pagination?.totalItems == 1">
                            <h6>Returned {{pagination?.totalItems}} photo for approval.</h6>
                        </span>
                        <span *ngIf="pagination?.totalItems == 0">
                            <h6>Sorry! We didn't find any photos for approval.</h6>
                        </span>
                    </div>
                    <!-- SORT DROPDOWN -->
                    <div class="btn-group float-right" dropdown>
                        <a id="button-animated" 
                            dropdownToggle 
                            type="button" 
                            class="btn btn-primary dropdown-toggle text-white" 
                            aria-controls="dropdown-animated">Sort <span class="caret"></span>
                        </a>
                        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-animated">
                            <li role="menuitem">
                                <button 
                                    type="button"
                                    class="btn btn-outline-primary btn-sm dropdown-item" 
                                    name="orderBy" 
                                    [(ngModel)]="photoManageParams.orderBy"
                                    (click)="getPhotosForApproval()"
                                    btnRadio="aToZ">Username: A to Z</button>
                            </li>
                            <li role="menuitem">
                                <button 
                                    type="button"
                                    class="btn btn-outline-primary btn-sm dropdown-item" 
                                    name="orderBy" 
                                    [(ngModel)]="photoManageParams.orderBy"
                                    (click)="getPhotosForApproval()"
                                    btnRadio="zToA">Username: Z to A</button>
                            </li>
                            <li role="menuitem">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary btn-sm dropdown-item" 
                                    name="orderBy" 
                                    [(ngModel)]="photoManageParams.orderBy"
                                    (click)="getPhotosForApproval()"
                                    btnRadio="createdAt">Last Active</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="container">
                    <span *ngIf="!loading">
                        <div class="row" *ngIf="photos.length > 0">
                            <div *ngFor='let photo of photos'>
                                <div class="mb-4 ml-1">
                                    <h5>{{photo.username}}</h5>
                                        <img src='{{photo.url}}' class='img-thumbnail p-1'
                                            alt='{{photo.username}}'>
                                    <div class=" p-1">
                                        <div class='text-center'>
                                            <button class='btn btn-sm btn-success mr-1' 
                                                (click)='approvePhoto(photo.id)'>Approve
                                            </button>
                                            <button class='btn btn-sm btn-danger'
                                                (click)='rejectPhoto(photo.id)'>Reject
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </main>
        </div>
    </form>

    <!-- PAGINATION -->
    <div class="d-flex justify-content-center" *ngIf="pagination && !loading && photos?.length !== 0">
        <pagination 
            [boundaryLinks]="true" 
            [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage"
            [maxSize]="10"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)" 
            previousText="&lsaquo;" 
            nextText="&rsaquo;" 
            firstText="&laquo;" 
            lastText="&raquo;" >
        </pagination>
    </div>
</div>



