<div class="container mt-3" *ngIf="!loading">
    <h3 class="text-center mt-5">Edit Password</h3>
    <hr>
    <form [formGroup]='editCredsForm' (ngSubmit)="editCredsForm.valid && updateCredentials()" method="post" autocomplete="off" class="mt-2">
        <div class="form-row d-flex justify-content-center">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <app-text-input 
                    [formControl]='editCredsForm.controls["password"]'
                    [label]='"Current Password"'
                    [type]='"password"'>
                </app-text-input>
            </div>
        </div>
        <div class="form-row d-flex justify-content-center">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <app-text-input 
                    [formControl]='editCredsForm.controls["newPassword"]'
                    [label]='"New Password"'
                    [type]='"password"'>
                </app-text-input>
            </div>
        </div>
        <div class="form-row d-flex justify-content-center">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <app-text-input 
                    [formControl]='editCredsForm.controls["confirmNewPassword"]'
                    [label]='"Confirm New Password"'
                    [type]='"password"'>
                </app-text-input>
            </div>
        </div>
        <div class="text-center" *ngIf="validationErrors.length > 0">
            <ul class="text-danger">
                <li style="list-style-type:none;" *ngFor="let error of validationErrors">{{error}}</li>
            </ul>
        </div>
        <hr>
        <div class="form-group text-center mt-3">
            <button [disabled]='!editCredsForm.valid' class="btn btn-primary btn-lg mr-2" type="submit">Submit</button>
            <button class="btn btn-warning btn-lg mr-2" (click)="cancel()" type="button">Cancel</button>

        </div>
    </form>
</div>