<div class="text-center mt-2 p-2">
    <h2>Customize</h2>
    <h5>Create a profile detailing how often you cycle, your preferred cycling surface (road, gravel, or mountain), and your cycling skill-level.</h5>
    <p>Your bio and cycling preferences allow others on the site to learn more about you and to later connect via chat.</p>
    <div class="form-group text-center">
        <button class="btn btn-secondary mr-2" (click)="cancel()" type="button">&laquo; Home</button>
        <button class="btn btn-info mr-2" (click)="cancelToDiscover()" type="button">Discover &raquo;</button>
    </div>
</div>