<div class="container mt-3">

<div class="row mb-4">
    <div class="btn-group" name="container">
        <div *ngIf="pageParams.container=='Unread'; then unreadFilled else unreadOutline"></div>
        <ng-template #unreadFilled>
            <button class="btn btn-warning btn-sm mr-1" btnRadio="Unread" [(ngModel)]="pageParams.container" (click)="loadMessages()">
                <i class="fa fa-envelope"></i> Unread
            </button>
        </ng-template>
        <ng-template #unreadOutline>
            <button class="btn btn-outline-warning btn-sm mr-1" btnRadio="Unread" [(ngModel)]="pageParams.container" (click)="loadMessages()">
                <i class="fa fa-envelope"></i> Unread
            </button>
        </ng-template>
        <div *ngIf="pageParams.container=='Inbox'; then inboxFilled else inboxOutline"></div>
        <ng-template #inboxFilled>
            <button class="btn btn-primary btn-sm mr-1" btnRadio="Inbox" [(ngModel)]="pageParams.container" (click)="loadMessages()">
                <i class="fa fa-envelope-open"></i> Inbox
            </button>
        </ng-template>
        <ng-template #inboxOutline>
            <button class="btn btn-outline-primary btn-sm mr-1" btnRadio="Inbox" [(ngModel)]="pageParams.container" (click)="loadMessages()">
                <i class="fa fa-envelope-open"></i> Inbox
            </button>
        </ng-template>
        <div *ngIf="pageParams.container=='Outbox'; then outboxFilled else outboxOutline"></div>
        <ng-template #outboxFilled>
            <button class="btn btn-info btn-sm" btnRadio="Outbox" [(ngModel)]="pageParams.container" (click)="loadMessages()">
                <i class="fa fa-paper-plane"></i> Outbox
            </button>
        </ng-template>
        <ng-template #outboxOutline>
            <button class="btn btn-outline-info btn-sm" btnRadio="Outbox" [(ngModel)]="pageParams.container" (click)="loadMessages()">
                <i class="fa fa-paper-plane"></i> Outbox
            </button>
        </ng-template>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination && !loading && messages?.length !== 0">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [maxSize]="10"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)" 
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;" >
    </pagination>
</div>

<div class="row" *ngIf="messages?.length === 0 && !loading">
    <h3>No messages</h3>
</div>

<div class="row" *ngIf="messages?.length > 0">
    <table class="table table-hover" style="cursor: pointer" *ngIf="!loading">
        <tr>
            <th style="width: 40%">Message</th>
            <th style="width: 20%">
                <div *ngIf="pageParams.container==='Outbox'; then sentBlock else receivedBlock"></div>
                <ng-template #sentBlock>To</ng-template>
                <ng-template #receivedBlock>From</ng-template>
            </th>
            <th style="width: 20%">
                <div *ngIf="pageParams.container==='Outbox'; then sentBlock2 else receivedBlock2"></div>
                <ng-template #sentBlock2>Sent</ng-template>
                <ng-template #receivedBlock2>Received</ng-template>
            </th>
            <th style="width: 20%"></th>
        </tr>
        <tr [hidden]="loading" 
            *ngFor="let message of messages" 
            routerLink='{{pageParams.container === "Outbox" 
                ? "/members/" + message.recipientUsername 
                : "/members/" + message.senderUsername}}'
            [queryParams]='{tab: 3}'>
            <td>{{message.content}}</td>
            <td>
                <div *ngIf="pageParams.container === 'Outbox'">
                    <img class="img-circle rounded-circle mr-2" 
                        src="{{message.recipientPhotoUrl || './assets/user.png'}}" 
                        alt="{{message.recipientUsername}}">
                    {{message.recipientFirstName | titlecase}} {{message.recipientLastName | titlecase}}
                </div>
                <div *ngIf="pageParams.container !== 'Outbox'">
                    <img class="img-circle rounded-circle mr-2" 
                        src="{{message.senderPhotoUrl || './assets/user.png'}}" 
                        alt="{{message.senderUsername}}">
                    {{message.senderFirstName | titlecase}} {{message.senderLastName | titlecase}}
                </div>
            </td>
            <td>
                {{message.messageSent | date:"LLL dd, yyyy"}} at {{message.messageSent | date:"h:mm aa"}}</td> 
            <td>
                <button (click)="$event.stopPropagation()" (click)="deleteMessage(message.id)" class="btn btn-danger btn-sm">Delete</button>
            </td>
        </tr>
    </table>
</div>

</div>