<div>
    <div *ngIf="!registerMode">
        <main role="main">

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <div class="container">
                    <div class="col-lg-6 col-md-9 col-sm-12 col-xs-12">
                        <h1 class="display-5 text-white"><strong>Saddle up cyclists!</strong></h1>
                        <h4 class="text-white my-lg-4 my-md-3 my-sm-2">Sign up today to meet new cylists in your area, plan rides, and more!</h4>
                        <button (click)="registerToggle()" class="btn btn-success btn-lg mr-2">Sign up</button>
                    </div>
                </div>
            </div>

            <!-- Marketing messaging and featurettes
            ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->

            <div class="container marketing">

                <!-- START THE FEATURETTES -->

                <hr class="featurette-divider my-5">

                <div class="row featurette">
                    <div class="col-md-4">
                        <h2 class="featurette-heading">Customize your profile</h2>
                        <p class="lead">Let others know a little bit about you. Your interests, favorite routes in your area, how often you ride, and your skill-level...this helps others discover your profile and connect.</p>
                    </div>
                    <div class="col-md-8">
                        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                        <img src="../../assets/cyclist_edit_profile.jpg" alt="cyclist edit profile page" style="border: 2px solid #2C3E50; border-radius: 3px;" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">

                    </div>
                </div>

                <hr class="featurette-divider my-5">

                <div class="row featurette">
                    <div class="col-md-4 order-md-2">
                        <h2 class="featurette-heading">Discover other cyclists.</h2>
                        <p class="lead">Use the discover page to search for cyclists in your area. Filter by skill-level, cycling frequency, and more.</p>
                    </div>
                    <div class="col-md-8 order-md-1">
                        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                        <img src="../../assets/cyclist_discover.jpg" alt="discover other cyclists" style="border: 2px solid #2C3E50; border-radius: 3px;" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
                    </div>
                </div>

                <hr class="featurette-divider my-5">

                <div class="row featurette">
                    <div class="col-md-5">
                        <h2 class="featurette-heading">Connect, chat, and plan a ride!</h2>
                        <p class="lead">If you find someone you're interested in connecting with, send them a message and plan a ride!</p>
                    </div>
                    <div class="col-md-7">
                        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                        <img src="../../assets/cyclist_chat.jpg" alt="chat box" style="border: 2px solid #2C3E50; border-radius: 3px;" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
                    </div>
                </div>

                <hr class="featurette-divider my-5">

                <!-- /END THE FEATURETTES -->

            </div><!-- /.container -->
        </main>

      
        <footer class="container">
        <p>By Andy N.H. Nguyen - <a href="https://andynhn.me">andynhn.me</a></p>
        </footer>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div>
                <!-- send "users" from this landing page component to the register component (parent to child). 
                    So use [ ] in <app-register> for it to receive data  -->
                <!-- e.g. [variableInChildComponent] = "variable in this component" -->
                <!-- make sure userseFromHomeComponent has the @Input() decorator -->
                <app-register 
                    (cancelRegisterEmitToLandingFromRegister)="cancelRegisterMode($event)">
                </app-register>
                <!-- () to send data. data emitted from cancelRegisterEmitToLandingFromRegister emits a boolean from child to parent component. -->
                <!-- This lets us trigger the cancelRegisterMode method in the parent component -->
            </div>
        </div>
    </div>
</div>
