<div class="modal-header">
    <h4 class="modal-title pull-left">Confirm account deletion</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    This action is permanent. Please confirm that you would like to delete your account.
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()" (click)="deleteAccount()">Delete</button>
</div>