<nav>
  <header class="navbar navbar-expand navbar-dark bg-primary flex-column flex-md-row bd-navbar">
    <!-- BRAND -->
    <a class="navbar-brand mr-0 mr-md-2" href="#">Saddle Up Cyclists!</a>
  
    <!-- NAVBAR SCROLL -->
    <div class="navbar-nav-scroll">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <ng-container *ngIf="accountService.currentUser$ | async" >
          <!-- use conditionals in the ng-container -->
          <li class="nav-item">
            <a class="nav-link" routerLink='/home' routerLinkActive='active' [routerLinkActive]="['text-success']"><i class='fa fa-inbox mr-1'></i> <sup *ngIf="(messageService.unreadMessages$ | async) as unreadCount">{{unreadCount}}</sup></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/discover' routerLinkActive='active' [routerLinkActive]="['text-success']"><i class='fa fa-search mr-1'></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/chat' routerLinkActive='active' [routerLinkActive]="['text-success']"><i class="fa fa-commenting mr-1"></i></a>
          </li>
          <li class="nav-item" *appHasRole='["Admin", "Moderator"]'>
            <a class="nav-link" routerLink='/admin' routerLinkActive='active' [routerLinkActive]="['text-success']"><i class="fa fa-key mr-1"></i></a>
          </li>
        </ng-container>
        <li class="nav-item">
          <a class="nav-link" routerLink='/errors' routerLinkActive='active'>Errors</a>
        </li>
      </ul>
    </div>
    
    <div class="navbar-nav flex-row ml-md-auto d-md-flex">

      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <!-- async pipe auto-unsubscribes if our component is no longer visible or in use. -->
        <!-- With the pipe, we can avoid subscribing to a currentUser$ observable in the nav.component.ts file where we'd have to manually unsubscribe. -->
        <a class="dropdown-toggle text-light ml-3" dropdownToggle>
          <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
        </a>
        <div class="dropdown-menu dropdown-menu-right mt-3" *dropdownMenu >
            <a type="button" class="dropdown-item" routerLink='/member/edit'>Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()" href="#">Logout</a>
        </div>
      </div>
  
      <!-- LOGIN FORM -->
      <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
        <input
            name="username"
            [(ngModel)]="model.username"
            class="form-control mr-sm-2" 
            type="text" 
            placeholder="Username">
        <input
            name="password"
            [(ngModel)]="model.password"
            class="form-control mr-sm-2" 
            type="password" 
            placeholder="Password">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
      </form>

    </div>


  </header>
</nav>
  