<div class="text-center mt-2 p-2">
    <h2>Discover</h2>
    <h5>Search for cyclists that match your rider profile.</h5>
    <p>Filter by location, cycling preferences, and more.</p>
    <div class="form-group text-center">
        <button class="btn btn-info mr-2" (click)="cancelToCustomize()" type="button">&laquo; Customize</button>
        <button class="btn btn-secondary mr-2" (click)="cancel()" type="button">Home</button>
        <button class="btn btn-info mr-2" (click)="cancelToChat()" type="button">Chat &raquo;</button>
    </div>
</div>