<!-- ng2 file upload -->
<div class="row mb-3">
 
    <div class="col-md-3">
        <h5><strong>Add Photos:</strong></h5>


        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropzoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="card bg-faded p-3 text-center mb-3 my-drop-zone">
             <i class="fa fa-upload fa-3x"></i>
            Drop photos here
        </div>

        <p class="mb-0"><strong>Multiple:</strong></p>
        <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br/>

        <p class="mb-0 mt-2"><strong>Single:</strong></p>
        <input type="file" ng2FileSelect [uploader]="uploader" />
    </div>

    <div class="col-md-9" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">
        <!-- only display if we have an image in the uploader. -->

        <h3>Upload queue</h3>
        <p>Queue length: {{ uploader?.queue?.length }}</p>

        <table class="table">
            <thead>
            <tr>
                <th width="50%">Name</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            </tr>
            </tbody>
        </table>

        <div>
            <div>
                Queue progress:
                <div class="progress mb-1">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-sm mr-1"
                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="fa fa-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-sm mr-1"
                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="fa fa-ban"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-sm mr-1"
                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="fa fa-trash"></span> Remove all
            </button>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-xs-6 img-wrapper p-1 text-center" *ngFor="let photo of member.photos">
        <img src="{{photo.url}}" alt="{{photo.url}}" 
            class="img-thumbnail p-1"
            [class.not-approved]="!photo.isApproved">
        <div class="text-center img-text">
            <small class="text-danger ml-0" *ngIf="!photo.isApproved">Pending moderator approval</small>
        </div>
        <div class="mb-1">
            <button 
                [hidden]="photo.isMain || !photo.isApproved"
                [disabled]="photo.isMain || !photo.isApproved"
                (click)="setMainPhoto(photo)"
                class="btn btn-success btn-sm mr-1">Main</button>
            <button 
                [hidden]="photo.isMain"
                [disabled]="photo.isMain"
                (click)="deletePhoto(photo.id)"
                class="btn btn-sm btn-danger">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
</div>