<div class="modal-header">
    <h4 class="modal-title pull-left">Delete {{user.username}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    This action is permanent. Make sure there's a good reason for this!
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()" (click)="deleteUser()">Delete</button>
</div>