<div class="text-center mt-2 p-2">
    <h2>Chat</h2>
    <h5>Send private messages and plan a bike ride!</h5>
    <p>When you discover cyclists that you're interested in connecting with, check out their profile and start chatting!</p>
    <div class="form-group text-center">
        <button class="btn btn-info mr-2" (click)="cancelToDiscover()" type="button">&laquo; Discover</button>
        <button class="btn btn-secondary mr-2" (click)="cancel()" type="button">Home</button>
        <button class="btn btn-success mr-2" (click)="cancelToRegister()" type="button">Sign up &raquo;</button>
    </div>
</div>